<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="City name">
        <button type="submit">Submit</button>
    </form>

    <div class="submit-container">
        {% if weather_data1 %}
            <div class="city-container">
                {% include 'weather_app/city_weather.html' with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}
            </div>
        {% endif %}
    </div>
</body>
</html>
